{{#each contentitem}}
{{#if selected}}
<div class="content-item content-item--instagram isselected" 
{{else}}
<div class="content-item content-item--instagram" 
{{/if}}
    data-item-id="{{id}}"
    data-created="{{created_time}}">
    <img class="content-item__image" src="{{images.low_resolution.url}}" />
    <div>
        <hr/>
        <form>
            <div class="content-item__block">
                <span class="label">Caption:</span>
                <span class="value value--large">{{caption.text}}</span>
            </div>
            <div class="content-item__block">
                <span class="label">Custom caption:</span>
                <input data-item-id="{{id}}"
                        name="content-item__tags"
                        class="content-item__field content-item__caption"
                        value="{{custom_caption}}"
                        type="text" />
            </div>
            <hr/>
            <div class="content-item__block">
                <span class="label">Original tags:</span>
                <span class="value--large">{{#each tags}}{{this}},{{/each}}</span>
            </div>
            <div class="content-item__block">
                <span class="label">Custom tags:</span>
                <input data-item-id="{{id}}"
                        name="content-item__tags"
                        class="content-item__field content-item__tags"
                        value="{{#each custom_tags}}{{#if @last}}{{this}}{{else}}{{this}},{{/if}} {{/each}}"
                        type="text" />
                <span class="content-item__info">Comma separated. No hash.</span>
            </div>
        </form>
        <hr/>
        <div class="content-item__block">
            <span class="label">Full name / username:</span>
            <span class="value">{{user.full_name}} / {{ user.username }}</span>
        </div>
        <div class="content-item__block">
            <span class="label">Country:</span>
            <span class="value">{{country}}</span>
        </div>
        <a target="_blank" href="{{link}}">Original</a>
    </div>
</div>
{{/each}}
