<html>

<head>
<title>{{title}}</title>

<link rel="stylesheet" href="/css/normalize.css">
<link rel="stylesheet" href="/css/main.css">
<script src="/socket.io/socket.io.js"></script>
</head>

<body>
{{#if user}}
<p>
<a href="/">Select</a> | 
<a href="/get/selected">Selected</a> | 
<a href="/instagram/">Instagram</a> | 
<a href="/twitter/checknew/designers">Check New Tweets</a> | 
<a href="/logout">Log Out</a>
</p>
{{else}}
<p>
<a href="/login">Log In</a>
</p>
{{/if}}

{{{body}}}

<footer>
</footer>

<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="/js/main.js"></script>
</body>
</html>
